@import "tailwindcss";

/* Font Switzer */
@font-face {
  font-family: "Switzer";
  src: url("/font/Switzer/Switzer-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Switzer";
  src: url("/font/Switzer/Switzer-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Switzer";
  src: url("/font/Switzer/Switzer-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

/* Font Philosopher */
@font-face {
  font-family: "Philosopher";
  src: url("/font/Philosopher/Philosopher-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Font Geist */
@font-face {
  font-family: "Geist";
  src: url("/font/Geist/static/Geist-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Geist";
  src: url("/font/Geist/static/Geist-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

/* Font Space Grotesk */
@font-face {
  font-family: "Space Grotesk";
  src: url("/font/Space_Grotesk/static/SpaceGrotesk-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* Font Inter */
@font-face {
  font-family: "Inter";
  src: url("/font/Inter/Inter_18pt-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("/font/Inter/Inter_18pt-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("/font/Inter/Inter_18pt-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* Font Satoshi */
@font-face {
  font-family: "Satoshi";
  src: url("/font/Satoshi/Satoshi-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --switzer-font: "switzer", sans-serif;
  --philosopher-font: "philosopher", sans-serif;
  --geist-font: "Geist", sans-serif;
  --inter-font: "Inter", sans-serif;
  --satoshi-font: "Satoshi", sans-serif;
  --grotesk-font: "Space Grotesk", sans-serif;
}

@theme {
  /* font */
  --font-switzer: var(--swizer-font);
  --font-philosopher: var(--philosopher-font);
  --font-geist: var(--geist-font);
  --font-inter: var(--inter-font);
  --font-satoshi: var(--satoshi-font);
  --font-grotesk: var(--grotesk-font);

  /* color */
  --color-gray-500: #6c737f;

  /* animation */
  @keyframes slide {
    to {
      translate: -100% 0%;
    }
    from {
      translate: 0 0;
    }
  }
}

body {
  /* background-color: #eeece9; */
  font-family: var(--switzer-font);
}
